@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap');

/* REVIEW & CONTACT LINKS */
.review-contacts{
    font-family: 'Blinker', sans-serif;
    color: #0d6efd;
}
/* REVIEW & CONTACT LINKS END*/
/* NAV */
/* LOGO */
.logo {
    font-family: 'Righteous', cursive;
    font-size: 36px;
}

.logo-my {
    color: #0d6efd;
}

.slogan {
    font-family: 'Blinker', sans-serif;
}

/* LOGO END */

.navbar {
    height: 18vh;
}

.nav-link {
    color: #0d6efd;
}

.nav-link-text {
    color: black;
    font-family: 'Blinker', sans-serif;
}

/* SEARCH */
.main-search-input {
    background: #fff;
    padding: 0 120px 0 0;
    border-radius: 1px;
}

.fl-wrap {
    float: left;
    width: 100%;
    position: relative;
}

.main-search-input:before {
    content: '';
    position: absolute;
    bottom: -40px;
    width: 50px;
    height: 1px;
    background: rgba(255, 255, 255, 0.41);
    left: 50%;
    margin-left: -25px;
}

.main-search-input-item {
    float: left;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    position: relative;
    border: 1px solid #0d6efd;
}

.main-search-input-item input:first-child {
    border-radius: 100%;
}

.main-search-input-item input {
    float: left;
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    font-family: 'Blinker', sans-serif;
    background: none;
}

.main-search-button {
    background: #0d6efd;
}

.main-search-button {
    position: absolute;
    right: 0px;
    height: 50px;
    width: 120px;
    color: #fff;
    background-color: #0d6efd;
    top: 0;
    border: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
    font-family: 'Blinker', sans-serif;
}

.main-search-input-wrap {
    max-width: 500px;
    margin: 20px auto;
    position: relative;
}

:focus {
    outline: 0;
}


@media only screen and (max-width: 768px) {
    .main-search-input {
        background: rgba(255, 255, 255, 0.2);
        padding: 14px 20px 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.0);
    }

    .main-search-input-item {
        width: 100%;
        height: 50px;
        border: none;
        margin-bottom: 10px;
    }

    .main-search-input-item input {
        border-radius: 6px !important;
        background: none;
    }

    .main-search-button {
        position: relative;
        float: left;
        width: 100%;
        border-radius: 6px;
    }
}
/* SEARCH END */
/* NAV END */