@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap');

/* REVIEW & CONTACT LINKS */
.review-contacts{
    font-family: 'Blinker', sans-serif;
    color: #0d6efd;
}
/* REVIEW & CONTACT LINKS END*/
/* NAV */
/* LOGO */
.logo {
    font-family: 'Righteous', cursive;
    font-size: 36px;
}

.logo-my {
    color: #0d6efd;
}

.slogan {
    font-family: 'Blinker', sans-serif;
}

/* LOGO END */

.navbar {
    height: 18vh;
}

.nav-link {
    color: #0d6efd;
}

.nav-link-text {
    color: black;
    font-family: 'Blinker', sans-serif;
}


/* NAV END */

/* CATEGORIES */
.categories{
    height: 10vh;
}
/* CATEGORIES END */