.cat-btn:nth-last-child(n){
    border-right: 1px solid #dee2e6 !important;
}

.cat-btn:hover{
    color: white !important;
    background-color: black;
}

.cat-btn{
    font-family: 'Blinker', sans-serif;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    color: black !important;
}